$background: #050505;
$foreground: #dedede;
$color0:  #050505;
$color1:  #575757;
$color2:  #676767;
$color3:  #787878;
$color4:  #878787;
$color5:  #979797;
$color6:  #AEAEAE;
$color7:  #dedede;
$color8:  #9b9b9b;
$color9:  #575757;
$color10: #676767;
$color11: #787878;
$color12: #878787;
$color13: #979797;
$color14: #AEAEAE;
$color15: #dedede;
